# Compiled class file
*.class

# Log file
*.log

# From tests
stale_outputs_checked

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Mac OS
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
!.idea/runConfigurations/*
!.idea/inspectionProfiles/*
!.idea/codeStyles/*
!.idea/vcs.xml
!.idea/dictionaries/educational.xml
!.idea/icon.png
!intellij-plugin/educational-core/resources/courses/*.zip
!intellij-plugin/educational-core/testData/**/*.zip
.idea/
build/
.gradle/
classes/
dependencies/
/helpers/venv/


# oauth properties files
secret.properties
intellij-plugin/Edu-Python/resources/checkio/py-checkio-oauth.properties
intellij-plugin/Edu-JavaScript/resources/checkio/js-checkio-oauth.properties
# old location of twitter properties
intellij-plugin/Edu-Kotlin/resources/twitter/kotlin_koans/oauth_twitter.properties
intellij-plugin/educational-core/resources/twitter/oauth_twitter.properties
intellij-plugin/educational-core/resources/stepik/stepik.properties
intellij-plugin/educational-core/resources/hyperskill/hyperskill-oauth.properties
intellij-plugin/educational-core/resources/marketplace/marketplace-oauth.properties
intellij-plugin/educational-core/resources/ai/ai.properties
intellij-plugin/educational-core/resources/ai/llm.properties
#AES key
edu-format/resources/aes/aes.properties
intellij-plugin/educational-core/resources/aes/aes.properties
# don't commit changes in hyperskill css
intellij-plugin/educational-core/resources/style/hyperskill_task.css