# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
!.idea/runConfigurations/*
!.idea/inspectionProfiles/*
.idea/
build/
.gradle/
Edu-Java/classes/
Edu-Kotlin/classes/
Edu-Python/classes/
