body {
    margin-left: 0;
    margin-right: 10px;
    height: auto;
}

img {
    display: block;
    float: none !important;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    position: relative;
}

a:hover {
    text-decoration: underline;
}

h1 {
    line-height: 1.15em;
    font-weight: bold;
}

pre {
    white-space: pre-wrap;
    min-width: 250px;
}