::-webkit-scrollbar-corner {
background-color: #3c3f41;
}

body {
    margin-left: 16px;
    margin-right: 1px;
    font-family: ".SF NS Text", sans-serif;
    background-color: #3c3f41;
    color: #bababa;
    font-size: 13px; /*resetting in BrowserWindow depending on editor font size*/
    /*font-weight: normal;*/
    line-height: 20px;
}

pre code {
    font-family: "Menlo", monospace;
    font-size: 12px; /*resetting in BrowserWindow depending on editor font size*/
    line-height: 16px;
    font-weight: normal;
}

code {
    font-family: "Menlo", monospace;
}

.header {
    font-size: 1.15em;
    font-weight: Bold;
    line-height: 21pt;
}

p img {
    background-color: #bababa;
}

textarea {
background-color: #3c3f41;
color: #bababa
}

a {
    text-decoration: none;
    position: relative;
    color: #589df6;
}

a:hover {
    text-decoration: underline;
}

tr {
    text-align: left
}

.example {
    background-color: #4f5254;
}