body {
    margin-left: 16px;
    margin-right: 1px;
    font-family: ".SF NS Text", sans-serif;
    color: #1F1F1F;
    font-size: 13px; /*resetting in BrowserWindow depending on editor font size*/
    font-weight: normal;
    line-height: 20px;
}

pre code {
    font-family: "Menlo", monospace;
    font-size: 12px; /*resetting in BrowserWindow depending on editor font size*/
    line-height: 16px;
    font-weight: normal;
}

code {
    font-family: "Menlo", monospace;
}

.header {
    font-size: 1.15em;
    font-weight: Bold;
    line-height: 21pt;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.45;
}

.example {
    background-color: #c4c4c4;
}

a {
    text-decoration: none;
    position: relative;
    color: #2470B3;
}

a:hover {
    text-decoration: underline;
}