/*specifies the margin between two hints*/
.hint + .hint {
    margin-top: -10px;
}

.hint {
    margin-top: 20px;
    margin-bottom: 24px;
    vertical-align: bottom;
}

.hint_header {
    font-size: inherit;
}

.hint_header:hover {
    cursor: pointer;
}

.hint_header:after {
    margin-left: -0.1em;
    display: inline-block;
    transform: rotate(90deg);
}

.hint_header.checked:after {
    transform: rotate(180deg);
}

.hint_content {
    display: none;
}

.hint_header.checked ~ .hint_content {
    display: inline;
}