.wrapper {
    height: 96%;
}

/*used to place task on Stepik link*/
/*noinspection CssUnusedSymbol*/
.footer {
    line-height: 3.5em;
    bottom: 5%;
    right: 1%;
    width: 95%;
    text-align: right;
}