.yaml-format-table {
    margin: 5px 5px 40px 10px;
    width: 480px;
    border-collapse: collapse;
    text-align: left;
}

.yaml-format-table th {
    font-weight: normal;
    padding: 10px 8px;
    border-bottom: 2px solid black;
}

.yaml-format-table td {
    padding: 9px 8px 0 8px;
    vertical-align: top;
}

.description {
    font-size: inherit;
    margin-left: 10px;
}

.enum {
    padding: 1px 2px;
    border-radius: 3px;
    background: #dfdfdf;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .17);
}

.config {
    font-style: italic;
}