.alert-danger {
    background-color: #8B3C3C;
    border-color: #8B3C3C;
}

.alert-primary {
    background-color: #3D6185;
    border-color: #466D94;
}

.alert-warning {
    background-color: #AC7920;
    border-color: #AC7920;
}