.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    line-height: 1.5;
}

.step-text {
    --step-text-border-color: revert !important;
    --step-text-code-bg-color: revert !important;
    --step-text-code-block-line-numbers-color: revert !important;
    --step-text-inline-code-color: revert !important;
    --step-text-table-color-striped: revert !important;
    --step-text-scrollbar-track-color: revert !important;
    --step-text-scrollbar-thumb-color: revert !important;
    --step-text-scrollbar-thumb-hover-color: revert !important;
}
.step-text video { visibility: hidden;}