/*specifies the margin between two hints*/
.hint + .hint {
    margin-top: 5px;
}

.hint {
    margin-top: 15px;
    margin-bottom: 20px;
    vertical-align: bottom;
}

.hint_header {
    font-size: inherit;
}

.hint_header:hover {
    cursor: pointer;
}

.hint .hint_header:before {
    margin-right: -0.2em;
    vertical-align: -0.1em;
}

.hint_header:after {
    margin-left: -0.1em;
    display: inline-block;
    vertical-align: -0.15em;
    transform: rotate(270deg);
}

.hint_header.checked:after {
    transform: rotate(0deg);
}

.hint_content {
    display: none;
}

.hint_header.checked ~ .hint_content {
    display: inline;
}